@font-face {
  font-family: "fortnite";
  src: url("../fonts/fortnite.otf");
}

body {
  margin: 0;
  font-family: "fortnite";
  font-size: 2em;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 90);
  color: white;
  font-size: 2.3rem;
  padding: 1rem;
  position: sticky;
  top: 0px;
  z-index: 10;
  flex: 1;
}

.nav > li {
  list-style: none;
}

.nav > a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

.nav > a:hover {
  transform: scale(1.2);
}

.card {
  width: 20vh;
  height: auto;
  transition: all 0.2s ease-in-out;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.card img {
  border-radius: 0px;
}

.card:hover {
  transform: scale(1.1);
  border: 5px solid rgb(255, 255, 0);
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 90);
  color: white;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  justify-content: center;
  align-items: center;
}

.arena {
  background: rgb(27, 128, 181);
  background: linear-gradient(
    180deg,
    rgba(27, 128, 181, 1) 0%,
    rgba(21, 77, 169, 1) 76%,
    rgba(21, 78, 169, 1) 86%,
    rgba(19, 62, 166, 1) 100%
  );
  background-attachment: fixed;
  flex: 3;
}

.card a {
  text-decoration: none;
  color: black;
}

.selected-items a {
  text-decoration: none;
  color: black;
}

.selected-items img {
  width: 40%;
  height: 40%;
}

.selected-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-item:hover {
  transition: all 0.2s ease-in-out;
}

.selected-item:hover h4 {
  background-color: rgba(19, 62, 166, 1);
  color: white;
}
